<header class="navbar navbar-expand navbar-dark px-4 flex-column flex-md-row">
  <a class="navbar-brand mr-md-2 mr-0" routerLink="/" aria-label="NG Bootstrap" (click)="navbarCollapsed = true">
    <span class="ml-2 d-xl-none d-lg-none d-md-none d-inline">App Title</span>
  </a>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav flex-row">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/home']" (click)="navbarCollapsed = true">Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/getting-started']" (click)="navbarCollapsed = true">Getting Started</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/components']" (click)="navbarCollapsed = true">Components</a>
      </li>
    </ul>
  </div>

  <ul class="social-buttons navbar-nav flex-row ml-md-auto d-none d-md-flex align-items-center">
    <li>
      <a href="https://www.npmjs.com/package/@ng-bootstrap/ng-bootstrap" rel="nofollow noopener noreferrer"
        target="_blank" [title]="downloadCount + ' downloads over the last 30 days on Npm'"
        class="d-flex flex-column align-items-center">
        {{ downloadCount }}
        <svg viewBox="0 0 780 250" width="40" height="13">
          <path
            d="M240,250h100v-50h100V0H240V250z M340,50h50v100h-50V50z M480,0v200h100V50h50v150h50V50h50v150h50V0H480z M0,200h100V50h50v150h50V0H0V200z">
          </path>
        </svg>
      </a>
    </li>
    <li class="ml-3">
      <a href="https://github.com/ng-bootstrap/ng-bootstrap" rel="nofollow noopener noreferrer" target="_blank"
        title="Open ng-bootstrap/ng-bootstrap on GitHub">
        <svg:svg aria-hidden="true" ngbdIcon="github"></svg:svg>
      </a>
    </li>
    <li class="ml-3">
      <a href="https://twitter.com/intent/tweet?text=I&#39;m+checking+out+&#23;ng-bootstrap,+THE+Angular+UI+framework+for+Bootstrap+CSS&url=https%3A%2F%2Fng-bootstrap.github.io%2F&hashtags=ng-bootstrap,angular,bootstrap"
        rel="nofollow noopener noreferrer" target="_blank" title="Tweet #ngbootstrap">
        <svg:svg aria-hidden="true" ngbdIcon="twitter"></svg:svg>
      </a>
    </li>
  </ul>

  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
    [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>

<div>
  <router-outlet></router-outlet>
</div>

<footer class="footer bg-light">
  <div class="container-fluid p-3 p-md-5">
    <p>
      Designed and built by the
      <a href="https://github.com/orgs/ng-bootstrap/people" rel="noopener" target="_blank">ng-bootstrap team
      </a>
      with the help of our
      <a href="https://github.com/ng-bootstrap/ng-bootstrap/graphs/contributors" rel="noopener"
        target="_blank">contributors</a>.
    </p>
  </div>
</footer>